<a href="https://colab.research.google.com/github/sbisws2007/LogisticRegression/blob/master/LogisticeRegg01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [8]:
df=sns.load_dataset('titanic')

In [9]:
df.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

In [13]:
link='https://drive.google.com/drive/folders/1U-Y7nTWiYVzEfEzlbq2eLLBHh2Z5205f?usp=sharing'

#bank=pd.read_csv('https://drive.google.com/drive/folders/1U-Y7nTWiYVzEfEzlbq2eLLBHh2Z5205f?usp=sharing/bank.csv')

In [14]:
bank=pd.read_csv(link)

ParserError: ignored

In [21]:
## Uploading Data File Hard Drive

In [15]:
from google.colab import files
uploaded = files.upload()

Saving bank.csv to bank.csv

In [19]:
import io
df2 = pd.read_csv(io.BytesIO(uploaded['bank.csv']),header=0,sep=';')

In [20]:
df2

      age            job  marital  education  ... pdays  previous poutcome   y
0      30     unemployed  married    primary  ...    -1         0  unknown  no
1      33       services  married  secondary  ...   339         4  failure  no
2      35     management   single   tertiary  ...   330         1  failure  no
3      30     management  married   tertiary  ...    -1         0  unknown  no
4      59    blue-collar  married  secondary  ...    -1         0  unknown  no
...   ...            ...      ...        ...  ...   ...       ...      ...  ..
4516   33       services  married  secondary  ...    -1         0  unknown  no
4517   57  self-employed  married   tertiary  ...    -1         0  unknown  no
4518   57     technician  married  secondary  ...    -1         0  unknown  no
4519   28    blue-collar  married  secondary  ...   211         3    other  no
4520   44   entrepreneur   single   tertiary  ...   249         7    other  no

[4521 rows x 17 columns]

In [27]:
link1='https://drive.google.com/file/d/1wudQq-FiBF63p0ylBX_aQ74amauUCLta/view?usp=sharing/bank.csv'

ParserError: ignored

In [30]:
ul='https://github.com/sbisws2007/Data/blob/master/UndergradSurvey.xlsx'

In [32]:
ug=pd.read_excel(ul)

HTTPError: ignored